@import "tailwindcss";

.circular-gallery {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: grab;
}

.circular-gallery:active {
  cursor: grabbing;
}
.rotate-90 {
  transform: rotate(90deg);
}

